{% extends "blog/base.html" %}
    {% block content %}
        {% for nota in notas %}
          {% if nota.inscripcion.seccion.id == 5 %}
                <table>
                  <tr>
                    <td width="170"> {{ nota.inscripcion.alumno.nombre }}</td>
                    <td width="170"> {{ nota.inscripcion.alumno.apellido }}</td>
                    <td width="50">  {{ nota.nota }} </td>
                    <td width="600"> {{ nota.observacion }} </td>
                    <td width="900"> {{ nota.fechaevalua }}</td>

                  </tr>
                 </table>
          {% endif %}
        {% endfor %}
    {% endblock content %}
